!!!
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %title= "LearnYouSomeWeb #{@item[:title]}"
    %link(rel="stylesheet" type="text/css" href="stylesheets/style.css" media="screen")
  %body
    #main
      = yield
    #sidebar
      Book Chapters and Navigation Here
